<%- include('layouts/header') %>
<h1>My Account</h1>
<p>Email: <%= user.email %></p>
<p>Company: <%= user.companyName %></p>
<p>Address: <%= user.companyAddress %></p>
<!-- Possibly a form to edit these fields -->
<%- include('layouts/footer') %>